.sw-settings-snippet-variant-list{
  .snippet-settings-snippet-variant-list-card{
    display: flex;

    .snippet-variant-item{
      max-width: 85%;
      width: 100%;
    }

    .snippet-variant-delete{
      max-width: 25%;
      width: 100%;
    }
  }

  .sw-settings-snippet-set__column-name{

  }

  .sw-settings-snippet-set-file__column-changed-at{

  }

  .sw-settings-snippet-set-file__column-base-file{

  }

  .sw-settings-snippet-set-file__column-changed-at{

  }

  .sw-setting-snippet-set-list__edit-action{

  }

  .sw-settings-snippet-set-list__confirm-delete-text{

  }
}

